@import './global-rules';
@import './mixins';
@import './variables';

.search{
    .form{
        margin-top: 120px;
        .button{
            @include button($main-color, $white-color, $main-color);
            margin: 0 10px;
        }
    }
    &-result{
        &-title{
            font-size:20px;
            font-weight:400;
        }
        &-order{
            display: flex;
            align-items: center;
            justify-content: center;
           select{
            padding:6px 0 7px 9px;
            color:$alt-second-color;
            border-radius: 3px;
            margin:0 10px;
           }
        }
    }
}

.search-cards{
    .article-link{
        color:$alt-color;
        text-decoration: none;
        transition: all .5s ease;
        &:hover{
            .card{
                &-title{
                    h3{
                        text-decoration: underline;
                        
                    }
                }
                
            }
        }
        .card-text{
            span{
                color:$alt-second-color;
            }
        }
    }

    .button{
        @include button($main-color, $white-color, $main-color);
        margin: 50px 0;
    }
}


.search-card{
    .card-title{
        h3{
            background-color: red;
            padding:14px 0;
        }
    }
}